{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ASK ME</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/askme.css' %}">

</head>

<body>
	<div class="container">
		<h1 class="title"> ASK ME </h1>
		<div class="post-comments" style="background-color: #fff">

			<form method="POST" action="create/">
				{% csrf_token %}
				<div class="form-group">
					<p>
            			<label>Введите имя</label><br>
            			<input type="text" name="name" required="required"/>
        			</p>
					<label for="comment">Ваш вопрос:</label>
					<textarea name="question_text" class="form-control" rows="3" required="required"></textarea>
				</div>
				<button type="submit" class="btn btn-default">Задать вопрос</button>
			</form>
			<div class="comments-nav">
				<ul class="nav nav-pills">
					<li role="presentation" class="dropdown">
						<p class="dropdown-toggle"> 0 вопросов </p>
					</li>
				</ul>
			</div>
	<!-- <div class="row"> -->
{% for question in questions %}
			<div class="media">
		<!-- first comment -->
				<div class="media-heading">
					<span class="label label-info">Вопрос</span> 
					{{ question.question_author }} | {{ question.question_created_date }}
				</div>
				<div class="panel-collapse collapse in" id="collapseOne">
		<!-- media-left -->
					<div class="media-body">
						<p>{{ question.question_text }}</p>
		<!-- comment-meta -->
	{% if question.question_answer != '' %}
	{% if question.question_answer != None %}
						<div class="media">
		<!-- answer to the first comment -->

							<div class="media-heading">
								<span class="label label-info">Ответ</span> 
								{{ question.question_answer_author }} | {{ question.question_answer_date }}
							</div>
							<div class="panel-collapse collapse in" id="collapseTwo">
		<!-- media-left -->
								<div class="media-body">
									<p>{{ question.question_answer }}</p>
								</div>
							</div>
		<!-- comments -->
						</div>
		<!-- answer to the first comment -->
	{% endif %}
	{% endif %}
					</div>
				</div>
		<!-- comments -->
			</div>
{% endfor %}
		</div>
	</div>

</body>
</html>